{% extends 'layout.html' %}

{% block content %}
<section class="section-content bg padding-y-sm">
    <div class="container">
        <div class="padding-y-sm">
            <span>112 Barang "Ditemukan"</span>
        </div>

        <div class="row-sm">
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/allItem/1.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Donat Bulat</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 10.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/allItem/2.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Hamburger</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 200.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/allItem/3.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Mie Setan</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 11.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/allItem/4.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Pasta Ponzi</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 30.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/allItem/5.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Donat Bulat</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 10.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/allItem/6.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Cookies</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 4.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/allItem/7.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Ayam Piring</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 80.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/allItem/8.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Ayam Keluarga</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 100.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100 w-100"
                            src="{{ url_for('static', filename='images/foodCatego/1.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Apel</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 5.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100 w-100"
                            src="{{ url_for('static', filename='images/foodCatego/2.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Mangga</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 2.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100 w-100 "
                            src="{{ url_for('static', filename='images/foodCatego/3.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Anggur</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 50.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100 w-100"
                            src="{{ url_for('static', filename='images/foodCatego/4.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Semangka</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 3.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100 w-100"
                            src="{{ url_for('static', filename='images/foodCatego/5.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">jeruk</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 5.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100 w-100"
                            src="{{ url_for('static', filename='images/foodCatego/6.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Pisang</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 4.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100 w-100"
                            src="{{ url_for('static', filename='images/foodCatego/7.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">Buah Naga</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 5.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100 w-100"
                            src="{{ url_for('static', filename='images/foodCatego/8.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="{{url_for('details')}}" class="title">DUREN!</a>
                        <div class="price-wrap">
                            <span class="price-new">Rp. 100.000</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->

        </div> <!-- row.// -->


    </div><!-- container // -->
</section>
{% endblock %}