{% extends 'layout.html' %}

{% block content %}
<section class="section-intro padding-y-lg background-jumbo layer-jumbo">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <article class="white text-center mb-5">
                <h1 class="display-3">Barang Terbaik</h1>
                <p>Pada Tiap Minggunya akan dipilih barang-barang terbaik dari pelapak, yang mana tiap barang tersebut
                    memiliki kualitas yang luar biasa bagus dan tidak akan mengecewakan pelanggan.</p>
            </article>

        </div> <!-- col.// -->
    </div> <!-- row.// -->
</section> <!-- section-intro.// -->
<section class="section-content bg padding-y-sm">
    <div class="container">
        <div class="row-sm text-center">
            <div class="col-md-3 col-sm-6">
                <div class="green-font"><i class="fa fa-trophy" style="color: gold;"></i> Terbaik Pertama <i
                        class="fa fa-trophy" style="color: gold;"></i></div>
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/Home/66.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title green-font">Pizza Itali</a><br>
                        <div class="price-wrap">
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
                <a href="#" class="title green-font">Seller: Warung 999</a>
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <div class="green-font">Terbaik Kedua</div>
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/Home/22.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title green-font">The Terong</a>
                        <div class="price-wrap">
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
                <a href="#" class="title green-font">Seller: Warung 999</a>

            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <div class="green-font">Terbaik Ketiga</div>
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/Home/11.jpg') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title green-font">Kepiting Enak</a>
                        <div class="price-wrap">
                        </div> <!-- price-wrap.// -->

                    </figcaption>
                </figure> <!-- card // -->
                <a href="#" class="title green-font">Seller: Warung 999</a>

            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <div class="green-font">Terbaik Keempat</div>
                <figure class="card card-product">
                    <div class="img-wrap"> <img class="d-block h-100"
                            src="{{ url_for('static', filename='images/Home/44.png') }}"></div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title green-font">Stik Sapi</a>
                        <div class="price-wrap">
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
                <a href="#" class="title green-font">Seller: Warung 999</a>

            </div> <!-- col // -->
        </div><!-- container // -->
</section>

{% endblock %}