{% extends 'layout.html' %}

{% block content %}
<section class="section-intro padding-y-lg background-jumbo background-bestplayer">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <article class="white text-center mb-5">
                <h1 class="display-3">Penjual Terbaik</h1>
                <p>Pada Tiap Minggunya akan dipilih pelapak Terbaik, yang mana tiap Pelapak dapat melakukan penjualan
                    sesuai target dan memiliki kualitas yang sangat baik serta tidak akan mengecewakan pelanggan.</p>
            </article>

        </div> <!-- col.// -->
    </div> <!-- row.// -->
</section> <!-- section-intro.// -->

<div class="container">
    <div class="row ml-5 mt-5">
        <div class="col-sm-12 col-lg-4">
            <div class="col-lg-8 text-center">
                <div><i class="fa fa-trophy" style="color: gold;"></i> Terbaik Pertama <i class="fa fa-trophy"
                        style="color: gold;"></i></div>
                <div class="card">
                    <div class="card-header ">
                        Profil Penjual
                    </div>
                    <div class="card-body small">
                        <div style="font-size: 15px;"> <u><b>Warung 999</b></u></div>
                        <a href="#" class="img-wrap mt-3"> <img
                                src="{{ url_for('static', filename='images/penjual/penjual.jpg') }}" height="130px"
                                style="border-radius: 40%;"></a>
                        <hr>
                        Level: Good <br>
                        Barang Terkirim: 1000
                        <hr>
                        Menerima 1.000.000 Pembeli
                        <hr>
                        Jarak Waktu Kirim: 1 Jam <br>
                        Respon Penjual: 100%<br>
                        <hr>
                        <a href="">Kunjungi Profil</a>

                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </div> <!-- col // -->

        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="col-lg-8 text-center">
                <div>Terbaik Kedua</div>

                <div class="card">
                    <div class="card-header ">
                        Profil Penjual
                    </div>
                    <div class="card-body small">
                        <div style="font-size: 15px;"> <u><b>Warung 999</b></u></div>
                        <a href="#" class="img-wrap mt-3"> <img
                                src="{{ url_for('static', filename='images/penjual/penjual3.jpg') }}" height="130px"
                                style="border-radius: 40%;"></a>
                        <hr>
                        Level: Good <br>
                        Barang Terkirim: 1000
                        <hr>
                        Menerima 1.000.000 Pembeli
                        <hr>
                        Jarak Waktu Kirim: 1 Jam <br>
                        Respon Penjual: 100%<br>
                        <hr>
                        <a href="">Kunjungi Profil</a>

                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </div> <!-- col // -->

        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="col-lg-8 text-center">
                <div>Terbaik Ketiga</div>
                <div class="card">
                    <div class="card-header ">
                        Profil Penjual
                    </div>
                    <div class="card-body small">
                        <div style="font-size: 15px;"> <u><b>Warung 999</b></u></div>
                        <a href="#" class="img-wrap mt-3"> <img
                                src="{{ url_for('static', filename='images/penjual/penjual2.jpg') }}" height="130px"
                                style="border-radius: 40%;"></a>
                        <hr>
                        Level: Good <br>
                        Barang Terkirim: 1000
                        <hr>
                        Menerima 1.000.000 Pembeli
                        <hr>
                        Jarak Waktu Kirim: 1 Jam <br>
                        Respon Penjual: 100%<br>
                        <hr>
                        <a href="">Kunjungi Profil</a>

                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </div> <!-- col // -->

        </div>
    </div>
</div>
{% endblock %}