<aside class="col-xl-2 col-md-3 col-sm-12 text-center wow fadeInUp">
        <div class="card">
            <div class="card-header ">
                Profil Penjual
            </div>
            <div class="card-body small">
                <div style="font-size: 15px;"> <u><b>Warung 999</b></u></div>
                <a href="#" class="img-wrap mt-3"> <img
                        src="{{ url_for('static', filename='images/penjual/penjual.jpg') }}" height="130px"
                        style="border-radius: 40%;"></a>
                <hr>
                Level: Good <br>
                Barang Terkirim: 1000
                <hr>
                Menerima 1.000.000 Pembeli
                <hr>
                Jarak Waktu Kirim: 1 Jam <br>
                Respon Penjual: 100%<br>
                <hr>
                <a href="">Kunjungi Profil</a>

            </div> <!-- card-body.// -->
        </div> <!-- card.// -->

    </aside> <!-- col // -->
